<div class="row">
  <div class="col-12">
    <h2>Products List</h2>
  </div>

  <div class="col-12">
    <div class="box" *ngIf="showData">
      <table class="table">
        <thead>
          <tr>
            <th>Article Number</th>
            <th>Label</th>
            <th>Price</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; trackBy:trackByIdentifier">
            <td>{{ product.articleId }}</td>
            <td>{{ product.label }}</td>
            <td>{{ product.price | currency:'EUR':'symbol' }}</td>
            <td class="actions">
              <a routerLink="/products/{{ product.id }}/edit">
                <i class="fa fa-edit"></i>
              </a>&nbsp;
              <a role="button" (click)="removeProduct(product)">
                <i class="fa fa-times"></i>
              </a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <dcs-error-box [error]="error"></dcs-error-box>
  </div>

  <div class="col-12">
    <dcs-loading-indicator [loading]="!showData" [updating]="updating">
    </dcs-loading-indicator>
  </div>

  <div class="col-12">
    <div class="button-container">
      <a routerLink="/products/new" class="btn">Create Product!</a>
    </div>
  </div>

</div>
