<div class="row">
  <div class="col-12">
    <h2>Users List</h2>
  </div>
  <div class="col-12">
    <div class="box" *ngIf="showData">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; trackBy:trackByIdentifier">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td class="actions">
              <a routerLink="/users/{{ user.id }}/edit">
                <i class="fa fa-edit"></i>
              </a>&nbsp;
              <a role="button" (click)="removeUser(user)">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12">

    <dcs-loading-indicator [loading]="!showData" loadingMessage="Loading..." [updating]="updating" updatingMessage=" Deleting user ...">
    </dcs-loading-indicator>

    <dcs-error-box [error]="error"></dcs-error-box>

  </div>
  <div class="col-12">
    <div class="button-container">
      <a routerLink="/users/new" class="btn">Create User</a>
    </div>
  </div>
</div>
